/* import { styled } from "styled-components";

export const Container = styled.div`
 padding: 15px 5% 5% 5%; 
`

export const Section = styled.section `
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-column: 1/4;
 align-items: center;
 gap: 25px;
`

export const Card = styled.section`
 border: 1px solid navy;
 width: 20vw;
 padding-bottom: 10px;
`

export const Parag = styled.p`
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;

` */

/* #projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
    align-items: center;
    gap: 25px;
} */