/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {

    .home-video{
        width: 120%;
        padding-bottom: 1px;
    }

    #main-menu ul li a{
        font-size: 10px;
    }

	#img-riri {
        display: none;
    }
    
    #abt {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 50px;
    }

   #about-me { 
       width: 15em;
       padding-top: 5px;
       padding-bottom: 5%;
       margin-right: 10px;
       margin-left: 30px; 
       font-size: 20px;
    }

    #exp {
        margin-right: 10px;
        margin-left: 70px; 
        font-size: 22px;
    }

    #skll {
        margin-right: 10px;
        margin-left: 50px;
        padding-top: 30%;
        font-size: 22px;
    }

    table, th, td {
        margin-right: 10px;
        margin-left: 50px; 
      }

    .skl {
        margin-right: 20px;
        margin-left: 10px; 
    }

    #skills ul{
        padding-left: 90px;
    }  

    #prj {
        padding-top: 30%;
        margin-right: 10px;
        margin-left: 80px;
        font-size: 22px;
    }

    
    #projects ul li {
      width: auto;
      align-items: center;
       
    }

    #msg {
        padding-top: 20px;
        margin-right: 10px;
        margin-left: 20px; 
        font-size: 22px;
    }

    #leave_message {
        padding-top: 30%;
        margin-right: 10px;
        margin-left: 80px; 
        font-size: 22px;
    }
    
   #messages{
    margin-left: 90px;
    overflow-wrap: break-word;
   }
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    #about {
        padding-bottom: 20px;
    }

    #img-riri {
        display: none;
    }

    #prj {
        padding-bottom: 55px;
    }

    #projects ul {
        margin-left: 10%;         
    }

    #projects ul li {
        width: auto; 
    }  
}

/*Media Query for Laptops and Desktops */
@media screen and (max-width: 1024px) {

    #exp {
        padding-top: 60px;
    }
}